<mat-toolbar class="gradient-toolbar" color="primary">
  <span class="logo">🍽️ Fakanál</span>
  <span class="spacer"></span>

  <button class="hamburger" (click)="menuOpen = !menuOpen">☰</button>

  <div class="nav-buttons" [ngClass]="{ 'open': menuOpen }">
    <button mat-raised-button routerLink="/" class="nav-button" (click)="menuOpen = false">Listázás</button>
    <button mat-raised-button routerLink="/add" class="nav-button" (click)="menuOpen = false">Új recept</button>
    <button mat-raised-button routerLink="/filter" class="nav-button" (click)="menuOpen = false">Keresés</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
