<mat-toolbar color="primary" class="gradient-toolbar">
  <span class="logo">Recept szűrő</span>
</mat-toolbar>

<div class="form-wrapper">
  <form class="recipe-form">
    <div class="row with-checkbox">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Recept neve</mat-label>
        <input
          matInput
          [(ngModel)]="searchName"
          name="searchName"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Kategória</mat-label>
        <mat-select
          [(ngModel)]="selectedCategory"
          name="selectedCategory"
        >
          <mat-option value="">Mind</mat-option>
          <mat-option value="Desszert">Desszert</mat-option>
          <mat-option value="Leves">Leves</mat-option>
          <mat-option value="Főétel">Főétel</mat-option>
          <mat-option value="Snack">Snack</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox
        [(ngModel)]="onlyEasy"
        name="onlyEasy"
        class="checkbox-tight"
      >
        Csak egyszerű receptek
      </mat-checkbox>
    </div>
  </form>
</div>

<!-- SZŰRÉS EREDMÉNYEI -->
<app-recipe-list
  [recipes]="recipes"
  [filter]="{ name: searchName, category: selectedCategory, onlyEasy: onlyEasy }"
  [title]="'Találatok'"
  [highlightCategory]="selectedCategory"
  (deleteRequested)="onDelete($event)">
</app-recipe-list>
